<h1>Doctors</h1>
<hr />
<h2>Who is going to save you now?</h2>

<%= link_to 'Add Doctor', new_doctor_path %>

<ul>
  <% @doctors.each do |doctor|%>
    <li>
      <%= link_to doctor.name, doctor_path(doctor) %>
    </li>
  <% end %>
</ul>
