<h1><%= @user.full_name.capitalize %>Appointments</h1>
<%= link_to 'Create Appointment', new_user_appointment_path(@user) %>
<ul>
	<% appointment_count = 0 %>
	<% @user.appointments.each do |a| %>
		<li>
			<% appointment_count = appointment_count + 1 %>
			<%= link_to "Appointment #{appointment_count}", [@user, a] %>
		</li>
	<% end %>
</ul>
<%= link_to "Back to #{@user.full_name}", user_path(@user) %>